RewriteEngine On

# Redirect typo domain to main domain
RewriteCond %{HTTP_HOST} ^(www\.)?vasiliskefalas\.com$ [NC]
RewriteRule ^(.*)$ https://vasileioskefalas.com/$1 [R=301,L]

# Force main domain to non-www HTTPS
RewriteCond %{HTTP_HOST} ^www\.vasileioskefalas\.com$ [NC]
RewriteRule ^(.*)$ https://vasileioskefalas.com/$1 [R=301,L]

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^(www\.)?vasileioskefalas\.com$ [NC]
RewriteRule ^(.*)$ https://vasileioskefalas.com/$1 [R=301,L]
