.glitch[data-text],
.glitch [data-text],
.glitch-hover[data-text],
.glitch-hover [data-text] {
    position: relative;
}
@keyframes noise-anim {
    0% { clip: rect( 0.85em 9999px 0.83em 0); }
    5% { clip: rect( 0.21em 9999px 0.54em 0); }
    10% { clip: rect( 0.35em 9999px 0.81em 0); }
    15% { clip: rect( 0.02em 9999px 0.79em 0); }
    20% { clip: rect( 0.21em 9999px 0.40em 0); }
    25% { clip: rect( 0.52em 9999px 0.73em 0); }
    30% { clip: rect( 0.23em 9999px 0.62em 0); }
    35% { clip: rect( 0.34em 9999px 0.04em 0); }
    40% { clip: rect( 0.24em 9999px 0.30em 0); }
    45% { clip: rect( 0.46em 9999px 0.86em 0); }
    50% { clip: rect( 0.66em 9999px 0.65em 0); }
    55% { clip: rect( 0.17em 9999px 0.62em 0); }
    60% { clip: rect( 0.42em 9999px 0.73em 0); }
    65% { clip: rect( 0.19em 9999px 0.30em 0); }
    70% { clip: rect( 0.52em 9999px 0.01em 0); }
    75% { clip: rect( 0.09em 9999px 0.28em 0); }
    80% { clip: rect( 0.83em 9999px 0.02em 0); }
    85% { clip: rect( 0.61em 9999px 0.58em 0); }
    90% { clip: rect( 0.52em 9999px 0.34em 0); }
    95% { clip: rect( 0.98em 9999px 0.17em 0); }
    100% { clip: rect( 0.58em 9999px 1.00em 0); }
}
.glitch[data-text]::after,
.glitch [data-text]::after,
.glitch-hover[data-text]:hover::after,
.glitch-hover:hover [data-text]::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 1px;
    background-color: #0f0f0f;
    background-color: var(--bg-color, #0f0f0f);
    text-shadow: -1px 0 #bb0000;
    overflow: hidden;
    clip: rect(0, 9999px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
    0% { clip: rect( 0.06em 9999px 0.49em 0); }
    5% { clip: rect( 0.79em 9999px 0.19em 0); }
    10% { clip: rect( 0.02em 9999px 0.24em 0); }
    15% { clip: rect( 0.17em 9999px 0.96em 0); }
    20% { clip: rect( 0.71em 9999px 0.70em 0); }
    25% { clip: rect( 0.87em 9999px 0.38em 0); }
    30% { clip: rect( 0.11em 9999px 0.13em 0); }
    35% { clip: rect( 0.30em 9999px 0.01em 0); }
    40% { clip: rect( 0.59em 9999px 0.21em 0); }
    45% { clip: rect( 0.47em 9999px 0.67em 0); }
    50% { clip: rect( 0.87em 9999px 0.62em 0); }
    55% { clip: rect( 0.02em 9999px 0.90em 0); }
    60% { clip: rect( 0.61em 9999px 0.98em 0); }
    65% { clip: rect( 0.75em 9999px 0.57em 0); }
    70% { clip: rect( 0.68em 9999px 0.45em 0); }
    75% { clip: rect( 0.79em 9999px 0.17em 0); }
    80% { clip: rect( 0.61em 9999px 1.00em 0); }
    85% { clip: rect( 0.30em 9999px 0.60em 0); }
    90% { clip: rect( 0.91em 9999px 0.09em 0); }
    95% { clip: rect( 0.57em 9999px 0.93em 0); }
    100% { clip: rect( 0.08em 9999px 0.37em 0); }
}
.glitch[data-text]::before,
.glitch [data-text]::before,
.glitch-hover:hover[data-text]::before,
.glitch-hover:hover [data-text]::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: -1px;
    background-color: #0f0f0f;
    background-color: var(--bg-color, #0f0f0f);
    text-shadow: 1px 0 blue;
    overflow: hidden;
    clip: rect(0, 2000px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.glitch.big[data-text]::after,
.glitch.big [data-text]::after,
.glitch-hover.big[data-text]:hover::after,
.glitch-hover.big:hover [data-text]::after {
    left: 2px;
    text-shadow: -1px 0 red;
}
.glitch.big[data-text]:before,
.glitch.big [data-text]:before,
.glitch-hover.big[data-text]:hover:before,
.glitch-hover.big:hover [data-text]::before {
    left: -2px;
}

